* {
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {  
    height: 100vh;
    background-color: white;
}

/*menu*/

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.section{
    padding: 2rem 0 4rem;
}

.section-title{
    font-size: 25px;
    text-align: center;
}

.section-subtitle{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.portfolio{
    font-size: 28px;
    font-weight: bold;
    color: blueviolet;
}

.menu{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: black;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    
}

.nav-bar ul li a:hover{
    color: white;
    background: blueviolet;
}

.nav-bar ul li a.active{
    color: white;
    background-color: blueviolet;
}

@media (max-width: 1200px){
    header {
        padding: 0 40px;

    }
}

@media (max-width: 1050px){
    header {
        padding: 0 30px;

    }
}

@media screen and (max-width: 900px){
    .menu {
        display: block;
        cursor: pointer;
    }
    .menu .linha {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active{
        height: 450px;;
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a{
        margin-bottom: 10px;
        color: black;        
    }
}

    /*Home*/

    .home-container{
        gap: 1rem;

    }

    .home-content{
        grid-template-columns: .25f 3fr;
        align-items: center;
    }

    .home-data{
        margin-left: 15%;
        margin-right: 50%;
    }

    #name{
        font-size: 25px;
        color: blueviolet;
        
        margin-bottom: 5px;
    }


    .hi{
        font-size: medium;
    }

    .prof{
        font-size: small;
        
        margin-bottom: 5px;
    }

    .prof + p{
        font-size:x-small;        
        margin-bottom: 15px;
    }

    .button{
        display: inline-block;
        color: white;
        background-color: blueviolet;
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 50px;
        transition: 0.2s;
        margin: 0 5px;

    }

    .button:hover{
        background-color: rgb(174, 139, 207);
    }

    .button-flex {
        display: inline-flex;
        align-items: center;
    }

    .home-img{
        display: inline-block;
        margin-right: 20%;
        margin-left: 60%;
    }



    @media screen and (max-width: 900px) {
        .home-content{
            grid-template-columns: .5fr 3.5rem;
            align-items: center;
        }

        .home-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 50px;
            margin-bottom: 20px;
            align-items: center;
        }
        .home-data{
            width: 60%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .prof + p{
            font-size:11px;        
            margin-bottom: 15px;
        }
    
    }


    /*About Me*/
    

    /*PW*/

    /*Calculadora*/

    .calculadora-container {
        margin: 0 auto;
        width: 300px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px #ccc;
    }
    input[type="text"] {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
    }
    input[type="button"] {
        display: block;
        margin: 20px auto 0;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: blueviolet;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .resultado {
        display: block;
        margin: 20px auto 0;
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
    }

    @media screen and (max-width: 900px) {
        .calculadora-container {
            margin: 0 auto;
            width: 200px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px #ccc;
        }

        input[type="text"] {
            display: block;
            margin: 0 auto;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 12px;
        }
    }

    /*Data*/

    .data-container, .apresentacao, .name {
        text-align: center;
        margin-top: 30px;
        font-size: 18px;

    }



