* {
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
}


body > * {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

header {
    height: 10vh; 
    background: wheat;
    color: black;
    position: sticky;
    top: 0;  

    display:flex;
    justify-content: space-between;  
}

nav {
    display:flex;
    justify-contents: flex-end;  
}

nav a {
    display:block;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: black
}